*{
    margin: 0%;
    padding: 0%;
    color: #091540;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
} 
.hidden{
    display: none;
}
#results.hidden, #watchlist_sec.hidden {
    display: none;
}   
body{
    background-color: #ABD2FA;  
}
.cross{
    height: 75px;
    width: 75px;
}
img{
    height: 42px;
    width: 42px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    transition: min-height 0.7s ease, padding 0.7s ease;
}
header.searching{
    min-height: 10vh;
    justify-content: flex-start;

}
header.searching #search_sec{
    margin:0;
    padding:5px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap:0rem;
    border-radius:0 ;
}
header.searching #flight_details label{
    font-size: 0.7rem;
    font-weight: bolder;
}
header.searching #flight_details input{
    font-size: 1.2rem;
    padding: 2px;
}
header.searching #search_btn{
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 50px;
    margin:0.1rem;
    font-size: 0.7rem;
    font-weight: bolder;
}
header.searching #flight_details{
    justify-content: space-between;
    width: 60%;
    padding: 0 2vh 0 2vh;
}
#search_sec{
    width: 80%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    background-color: #7692FF;
    justify-content: center;
    align-items: center;
    border-radius: 5vmin;
    margin: auto 0;
    
}
#flight_details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap:0.2rem;
}
#flight_details label{
    font-size: 2rem;
    font-weight: bolder;
}
#flight_details input {
    font-size: 1.7rem;
    padding: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
}
#search_btn{
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 50px;
    margin:1rem;
    font-size: 2rem;
    font-weight: bolder;
}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.loading_state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 3rem; 
    font-weight: 800;
    color: #091540;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#results{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.result{
    display: flex;
    justify-content: space-between;
    background-color: #A6B8FF;
    margin: 2vh;
    border-radius: 15px;
    width:50%;
}
#watchlist_header{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
#my_flights{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.myFlight{
    display: flex;
    justify-content: space-between;
    background-color: #A6B8FF;
    margin-top: 4vh;
    border-radius: 15px;
    width:50%;
}
.airline_logo{
    width: 100px;
}

.departure{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.inbetween{
    display: inline-flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.arrival{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.price{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-left: 2rem;
}
.edit_sec{
    display: flex;
    flex-direction: column;
}
.pick_btn{
    border-radius: 15px;
    font-size: 1.5rem;
    border: 0;
}
.edit_btns{
    border-radius: 15px;
    font-size: 1.5rem;
    border: 0;
}
.pick{
    width: 50%;
    height: 20vh;
    display:flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #7692FF;
    font-size: 1.5rem;
    font-weight: bolder;
}
#results_current_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 33%;
}
#results_your_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 33%;
}
#results_your_price input {
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 15px;
    border: none;
    width: 100%;
}
#pick_flight{
    border-radius: 15px;
    background-color: white;
    font-size: 1.5rem;
    width: 33%;
    height: 50px;
}
.edit{
    width: 60%;
    height: 30vh;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-between;
    background-color: #7692FF;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}
.prices{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 100%;
    
}
.prices #watchlist_current_price{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 30%;
}
.prices #watchlist_your_price{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 30%;
}
#new_price{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 30%;
}
#new_price input {
    align-items:flex-start;
    padding: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
}
#edit_btns{
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 100%;
    height: 100px;
}
#edit_btn{
    height: 50px;
    width: 40%;
    border-radius: 15px;
    border: 0;
    margin:2vh;
    font-size: 1rem;
}
#delete_btn{
    height: 50px;
    width: 40%;
    border-radius: 15px;
    border: 0;
    margin:2vh;
    font-size: 1rem;
}
.hidden{
    display: none;
}
#pick_price{
    position:fixed;
    top:40%;
    left:25%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 1000;
}
#edit{
    position:fixed;
    top:30%;
    left:20%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 1000;
}
.green{
    background-color: forestgreen;
    background: linear-gradient(45deg, #2ecc71, #27ae60) !important;
    box-shadow: 0 8px 20px rgba(46, 204, 113, 0.4);
    border: none;
}
.red{
    background-color: crimson;
    background: linear-gradient(45deg, #ff6b6b, #ee5253) !important;
    box-shadow: 0 8px 20px rgba(238, 82, 83, 0.4);
    border: none;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.no_results{
    position: fixed;
    top:37%;
    left: 44.5%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    border-radius: 15px;
    border-style: solid ;
    border-width: 2px;
    border-color: #091540;
    background-color: #7692FF;
}
#no_results_btn, #no_watchlisted_flights_btn{
    padding:2px;
    height: 30px;
    width: 60px;
    font-size: 1.2rem;
    border-radius: 15px;

}
@media (max-width: 600px) {
    header{
        height: 100%;
    }  
    #search_sec{
        width: 80%;
        padding: 3%;
        height: 90%;
        margin-top: 15vmin;
        justify-content: space-around;
    }
    #flight_details{
        flex-direction: column;
    }
    header.searching #search_sec{
        flex-direction: column;
        gap:0.5vmin;
    }
}