/*
  PRICE PICKS STYLESHEET
  ----------------------
  1. Global Resets & Typography
  2. Home Page (Search)
  3. Results Page (Flight Cards)
  4. Watchlist Section
  5. History Section (Modals)
  6. Animations (Loaders)
  7. Mobile Media Queries
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    color: #091540;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.5;
} 
.hidden{
    display: none;
}
#results.hidden, #watchlist_sec.hidden {
    display: none;
}   
body{
    background-color: #ABD2FA;  
}
img{
    height: 47px;
    width: 47px;
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    transition: min-height 0.7s ease, padding 0.7s ease;
}
h1,h2{
    cursor: pointer;
    line-height: normal;
}

/* home page */
#search_sec{
    width: 80%;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    background-color: #7692FF;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vmin;
    gap: 2vmin;
    margin: auto;
}
#flight_details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap:0.2rem;
}
#flight_details label{
    font-size: 2rem;
    font-weight: bolder;
}
#flight_details input {
    font-size: 1.7rem;
    padding: 20px;
    border-radius: 1vmin;
    border: none;
    width: 100%;
}
#flight_details input.invalid_input, #new_picked_price.invalid_input {
    border: 3px;
    border-style: solid;
    border-color: #ee5253;
}
#search_btn{
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 1vmin;
    cursor: pointer;
    margin:1rem;
    font-size: 2rem;
    font-weight: bolder;
}
#header{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

/* result section */
header.searching{
    min-height: 10vh;
    justify-content: flex-start;
}
header.searching #search_sec{
    height: 10vmin;
    margin:1.5vmin;
    padding:5px;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    gap:0rem;
    border-radius:0.5vmin;
}
header.searching #flight_details{
    width: 50%;
    justify-content: space-evenly;
    padding: 0 2vh 0 2vh;
}
header.searching #flight_details label{
    font-size: 1rem;
    font-weight: bolder;
}
header.searching #flight_details input{
    font-size: 1rem;
    padding: 1vh;
}
header.searching #search_btn{
    height: 5vmin;
    width: 15%;
    border: none;
    border-radius: 1vmin;
    margin:0.1rem;
    font-size: 1rem;
    font-weight: bolder;
}
.sortandfilter{
    width: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1vmin;
}
.sortandfilter label{
    font-size: 0.7rem;
    font-weight: bolder;
}
.sortandfilter select{
    font-size: 0.7rem;
    padding: 1vh;
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
}
.loading_state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 3rem; 
    font-weight: 800;
    color: #091540;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#watchlist_loader,#result_loader, #past_loader{
    margin-top: 8%;
    width: 100%;
}
.result_loader, .watchlist_loader, .past_loader {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.result_loader_content, .watchlist_loader_content, .past_loader_content{
    width: 100%;
}
#flight_cards, #results, #past_flights{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.result, .past_flight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A6B8FF;
    margin: 2vh;
    border-radius: 1vmin;
    width:80%;
}
.airline_logo{
    margin: 2vmin;
    align-self: center;
    width: 15%;
}
.departure , .arrival{
    width: 15%;
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.inbetween{
    width: 15%;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inbetween_icon,  .modal_inbtw_icon{
    width: 100%;
}
.price{
    width: 30%;
    height: 60%;
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.pick_btn{
    width: 100%;
    border-radius: 1vmin;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
}
.pick{
    width: 80%;
    height: 42vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#pick_price, #edit , #delete{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 1000;
}
.modal_ticket{
    width: 70%;
    height: 18vh;
    display:flex;
    justify-content: space-evenly;
    background-color: #7692FF;
    border-radius: 1vmin;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}
.modal_dep,.modal_inbetween,.modal_arr{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#select_price{
    width: 100%;
    height: 20vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7692FF;
    border-radius: 1vmin;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}
.close{
    width: 25px;
    height: 25px;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    background-color: #7692FF;
    border-radius: 50%;
}
#results_current_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}
#results_your_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 33%;
}
#results_your_price input {
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 1vmin;
    border: none;
    width: 100%;
}
#pick_flight{
    border-radius: 15px;
    background-color: white;
    font-size: 1.5rem;
    margin-right: 20px;
    width: 25%;
    height: 10vh;
}
.no_results,.delete_all_box{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 15px;
    border-style: solid ;
    border-width: 2px;
    border-color: #091540;
    background-color: #7692FF;
    z-index: 1000;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.cross{
    height: 75px;
    width: 75px;
}
#no_results_btn, #no_watchlisted_flights_btn, #no_response_btn, #no_past_flights_btn{
    height: 20%;
    width: 40%;
    font-size: 1.2rem;
    border-radius: 1vmin;
    cursor: pointer;
}

/* watchlist section */
#watchlist_header, #history_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}
.watchlist_btn, .history_btn{
    display: flex;
    justify-content: space-between;
    gap:3vmin;
    align-items: center;
}
#my_flights{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.myFlight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A6B8FF;
    margin-top: 4vh;
    border-radius: 15px;
    width:80%;
    height: 20vh;
}
.green{
    background-color: forestgreen;
    background: linear-gradient(45deg, #2ecc71, #27ae60) !important;
    box-shadow: 0 8px 20px rgba(46, 204, 113, 0.4);
    border: none;
}
.red{
    background-color: crimson;
    background: linear-gradient(45deg, #ff6b6b, #ee5253) !important;
    box-shadow: 0 8px 20px rgba(238, 82, 83, 0.4);
    border: none;
}.edit_sec,.price_sec{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.edit_sec .price{
    width: 100%;
}
.edit_btns{
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    width: 90%;
    height: 30%;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
}
.edit{
    width: 80%;
    height: 45vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#update{
    width: 100%;
    height: 25vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7692FF;
    align-items: center;
    border-radius: 1vmin;
    font-size: 1.5rem;
    font-weight: bolder;
}
.prices{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 100%; 
}
.prices #watchlist_current_price, .prices #watchlist_your_price, #new_price{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 30%;
}
#new_price input {
    padding: 20px;
    border-radius: 1vmin;
    border: none;
    width: 100%;
}
#edit_btns{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    width: 100%;
    height: 100px;
    cursor: pointer;
}
#edit_btn, #delete_btn{
    height: 50px;
    width: 40%;
    border: 0;
    border-radius: 1vmin;
    margin:2vh;
    font-size: 1rem;
    cursor: pointer;
}

/* history section */
#delete_all{
    height: 2.5vmax;
    width: 5vmax;
    border: none;
    border-radius: 1vmin;
}
.past_flight{
    background-color: rgba(166, 184, 255, 1);
}
.past_flight .arrival,.past_flight .departure,.past_flight .inbetween{
    width: 10%;
}
.delete_btns{
    margin: 2vmin;
    font-size: 2rem;
    border: none;
    border-radius: 1vmin;
    width: 15%;
}
.delete{
    width: 80%;
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.delete .modal_ticket{
    height: 19.5vh;
}
.delete .prices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 19.5vh;
    background-color: #7692FF;
    border-radius: 1vmin;
}
#delete_box{
    display: flex;
    justify-content: space-around;
    line-height: 0;
    flex-direction: column;
    font-size: 1.5rem;
    width: 30%;
    height: 19.5vh;
    background-color: #7692FF;
    border-radius: 1vmin;
}
#delete_box span,#delete_all_box span{
    height: 60%;
}
#delete_box_btn,#delete_all_box_btn{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 40%;
}
#delete_box_btn button,#delete_all_box_btn button{
    font-size: 1.5rem;
    width: 40%;
    margin: 1vmin;
    border-radius: 1vmin;
    cursor: pointer;
    border: none;
}
.delete_all{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    width: 30%;
    height: 19.5vh;
    background-color: #7692FF;
    border-radius: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

/* animations */
#flying_plane {
    width: 100px; 
    position: relative;
    animation: flyAcross 5s linear infinite;
}
#flying_plane_back {
    width: 100px; 
    position: relative;
    animation: flyBack 5s linear infinite;
}
#pulsing_heart{
    height: 100px;
    width: 100px;
    position: relative;
    animation: pulse 2s ease-in-out infinite;
}
#loader p ,#watchlist_loader p, #past_loader p{
    font-family: 'Quicksand', sans-serif;
    color: #091540;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}
.dots {
    animation: blink 1.5s infinite both;
}
@keyframes flyAcross {
    0% {
        transform: translateX(-650%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(650%); 
        opacity: 0;
    }
}
@keyframes flyBacl {
    0% {
        transform: translateX(650%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(-650%); 
        opacity: 0;
    }
}
@keyframes pulse {
    0% {
        height: 100px;
        width: 100px; 
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        height: 200px;
        width: 200px; 
        opacity: 0;
    }
}
@keyframes blink {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

/* mobile section */
@media (max-width: 600px) {
    header{
        height: 100%;
    }

    /* home page */
    #search_sec{
        width: 80%;
        padding: 3%;
        height: 90%;
        margin-top: 10vmin;
        gap:2vmin;
        justify-content: space-around;
    }
    #flight_details{
        flex-direction: column;
        width: 100%;
    }
    #flight_details label{
        font-size: 1.5rem;
    }
    #search_btn{
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 2rem;
        cursor: pointer;
    }

    /* result section */
    .loading_state {
        font-size: 2rem;
    }
    header.searching #search_sec{
        margin: 4vmin;
        justify-content: center;
        align-items: center;
        gap:0.2vmin;
    }
    header.searching #flight_details{
        padding: 0;
        flex-direction: row;
        width: 50%;
    }
    header.searching #flight_details label{
        font-size: 0.4rem;
    }
    header.searching #flight_details input{
        padding: 0;
        font-size: 0.5rem;
        width: 100%;
    }
    header.searching #from,header.searching #to,header.searching #date{
        line-height: 0;
        width: 33%;
    }
    header.searching #search_btn{
        height: 30px;
        width: 20%;
        margin-top: 8px;
        font-size: 1rem;
    }
    .sortandfilter{
        justify-content: space-between;
        width:30%;
    }
    .sortandfilter label,.sortandfilter select{
        padding: 0;
        font-size: 0.5rem;
        width: 100%;
    }
    #sort,#filter{
        width: 49%;
        line-height: 0;
    }
    .result{
        height: 13vh;
        width:95%;
    }
    .airline_logo{
        width: 55px;
        height: 50%;
    }
    .departure,.arrival,.price,.pick_btn{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .inbetween{
        display: inline-flex;
        font-size: 0.5rem;
        gap:0;
    }
    .inbetween img{
        width: 55px;
        height: 24px;
    }
    .price{
        height: 75%;
        width: 30%;
    }
    #pick_price{
        width: 95%;
        height: 42vh;
        justify-content: space-between;
    }
    .modal_ticket{
        height: 15vh;
        width: 100%;
        font-size: 0.7rem;
    }
    .modal_ticket .airline_logo{
        width: 15%;
    }
    .modal_ticket .arrival,.modal_ticket .departure,.modal_ticket .inbetween{
        width: 15%;
    }
    #select_price{
        height:20vh
    }
    #results_current_price,#results_your_price{
        font-size: 1rem;
        width: 32%;
        height: 30%;
    }
    #results_your_price input{
        font-size: 1rem;
        width: 100%;
    }

    /* watchlist section */
    .myFlight{
        height: 15vh;
        width: 98%;
    }
    .myFlight .departure,.myFlight .arrival,.myFlight .inbetween{
        width: 16%;
        font-size: 0.7rem;
    }
    .lowest_price,.picked_price{
        font-size: 0.7rem;
        height: 50%;
        line-height: 4vmin;
    }
    .edit_sec{
        width: 35%;
        align-items: center;
        justify-content: center;
    }
    .edit_btns{
        font-size: 1rem;
        height: 20%;
        width: 80%;
        display: flex;
    }
    .edit{
        height: 36vh;
        width: 98%;
    }
    .edit .prices{
        height: 90%;
    }
    #update{
        height: 20vh;
    }
    .prices{
        font-size: 1rem; 
        align-items: center;
        gap: 2px;
        justify-content: center;
    }
    .prices #watchlist_current_price,.prices    #watchlist_your_price,#new_price{
        height: 23%;
        width: 100%;
        align-items: center;
    }
    #new_price input {
        font-size: 1rem;
        padding: 5px;
        width: 80%;
    }
    #edit_btns{
        height: 80px;
    }
    #edit_btn,#delete_btn{
        height: 30px;
        width: 45%;
        font-size: 1rem;
    }

    /* history section */
    .history_btn{
        gap:0;
    }
    #delete_all{
        height: 10vmin;
        width: 15vmin;
        font-size:0.6rem;
        font-weight: bolder;
    }
    .past_flight{
        width: 98%;
        height: 15vh;
    }
    .past_flight.airline_logo{
        width: 10%;
    }
    .past_flight .departure,.past_flight .arrival,.past_flight .inbetween{
        width: 13%;
        font-size: 0.6rem;
    }
    .past_flight .price{
        height: 100%;
    }
    .history_last_price, .history_your_price, .history_lowest_price{
        font-size: 0.6rem;
        line-height: 2.5vmin;
        font-weight: 700;
        height: 33%;
        width: 100%;
        justify-self: center;
    }
    .delete_btns{
        width: 20%;
        font-size: 1rem;
    }
    .delete{
        width: 95%;
        height: 42vh;
    }
    .delete .prices,.delete .modal_ticket{
        height: 13vh;
    }
    #h_modal_date{
        width: 40%;
    }
    #history_last_price,#history_your_price,#history_lowest_price{
        font-size: 1rem;
        font-weight: bolder;
    }
    #delete_box{
        height: 15vh;
        width: 70%;
        font-size: 1rem;
    }
    #delete_box_btn #delete_my_flights,#delete_box_btn  #cancel{
        font-size: 1rem;
    }
    .delete_all{
        height: 20vh;
        width: 80%;
    }
}