*{
    margin: 0%;
    padding: 0%;
    color: #091540;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
} 
.hidden{
    display: none;
}
#results.hidden, #watchlist_sec.hidden {
    display: none;
}   
body{
    background-color: #ABD2FA;  
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    transition: min-height 0.7s ease, padding 0.7s ease;
}
header.searching{
    min-height: 10vh;
    justify-content: flex-start;

}
header.searching #search_sec{
    margin:0;
    padding:5px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap:0rem;
    border-radius:0 ;
}
header.searching #flight_details label{
    font-size: 0.7rem;
    font-weight: bolder;
}
header.searching #flight_details input{
    font-size: 1.2rem;
    padding: 2px;
}
header.searching #search_btn{
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 50px;
    margin:0.1rem;
    font-size: 0.7rem;
    font-weight: bolder;
}
header.searching #flight_details{
    justify-content: space-between;
    width: 60%;
    padding: 0 2vh 0 2vh;
}
#search_sec{
    width: 80%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    background-color: #7692FF;
    justify-content: center;
    align-items: center;
    border-radius: 5vmin;
    margin: auto 0;
    
}
#flight_details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap:0.2rem;
}
#flight_details label{
    font-size: 2rem;
    font-weight: bolder;
}
#flight_details input {
    font-size: 1.7rem;
    padding: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
}
#search_btn{
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 50px;
    margin:1rem;
    font-size: 2rem;
    font-weight: bolder;
}
.home_page{

}
.header{

}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#results{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.result{
    display: flex;
    justify-content: space-between;
    background-color: #A6B8FF;
    margin: 2vh;
    border-radius: 15px;
    width:50%;
}

.airline_logo{
    width: 100px;
}

.departure{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.inbetween{
    display: inline-flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.arrival{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.price{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-left: 2rem;
}
.pick{
    border-radius: 15px;
    font-size: 1.5rem;
    border: 0;
}
.hidden{
    display: none;
}
